
/*custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgba(138, 43, 226, 0.7), rgba(75, 0, 130, 0.7)); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgba(148, 0, 211, 0.7), rgba(102, 0, 153, 0.7)); 
  }

  body {
    overflow-x: hidden;
  }